#slider {
  position: relative;
  text-align: center;
  padding: 2vh;
}

#slider {
  margin: 0 auto;
}

#slides article {
  width: 20%;
  float: left;
}

#slides .image {
  width: 500%;
  line-height: 0;
}

.overflow {
  width: 100%;
  overflow: hidden;
}

article img {
  width: 100%;
  border-radius: 2rem;
}


#slides-text article {
  width: 20%;
  float: left;
}

#slides-text .caption {
  width: 500%;
}

article {
  width: 100%;
}

article .text {
  width: 100%;
  font-size: 3rem;
  text-align: left;
}

#switch1:checked~.container #slides-text .caption {
  margin-left: 0;
}

#switch2:checked~.container #slides-text .caption {
  margin-left: -100%;
}

#switch3:checked~.container #slides-text .caption {
  margin-left: -200%;
}

#switch4:checked~.container #slides-text .caption {
  margin-left: -300%;
}

#switch5:checked~.container #slides-text .caption {
  margin-left: -400%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

#slides-text .caption {
  transition: all 800ms ease;
}

#desktop:checked~#slider {
  max-width: 1440px;
}

label {
  cursor: pointer;
}

.all {
  background-color: #25282a;
  color: white;
  height: 200rem;
}

.all input {
  display: none;
}

#switch1:checked~#slides .image {
  margin-left: 0;
}

#switch2:checked~#slides .image {
  margin-left: -100%;
}

#switch3:checked~#slides .image {
  margin-left: -200%;
}

#switch4:checked~#slides .image {
  margin-left: -300%;
}

#switch5:checked~#slides .image {
  margin-left: -400%;
}

#active label {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  border-radius: 2rem;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background: #bbb;

}

#active {
  /* margin: 2% 0 0; */
  display: flex;
  text-align: center;
}

#active .label:hover {
  background: #76c8ff;
  border-color: #777 !important;
}

#active .label:active {
  background: #666;
}

#switch1:checked~.container #active label:nth-child(1) .label,
#switch2:checked~.container #active label:nth-child(2) .label,
#switch3:checked~.container #active label:nth-child(3) .label,
#switch4:checked~.container #active label:nth-child(4) .label,
#switch5:checked~.container #active label:nth-child(5) .label {
  background: #18a3dd;
  border-color: #18a3dd !important;
}

#slides .image {
  transition: all 800ms ease;
}
